body.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #f9f9f9;
    margin: 0;
}

.header-layout {
    display: flex;
    align-items: center;
}

.name {
    font-size: 2.5rem;
    font-weight: bold;
    margin-right: 15px;
    color: #000;
}

.curly-group {
    display: flex;
    align-items: center;
}

.curly-bracket {
    font-size: 4rem;
    font-weight: bold;
    margin-right: 10px;
    color: #000;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.links a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #000;
    margin: 5px 0;
}

.links a:hover {
    color: #777;
}


